header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(43, 74, 99);
    color: azure;
    height: 70px;
      font-family: 'Montserrat';
  }
  
  nav{
    display: flex;
    
  }
  
  nav > button{
    margin-right: 35px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
  }
   button:hover{
    color: rgb(238, 214, 0);
    transition: 0.7s;
   }