header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2b4a63;
    color: azure;
    height: 50px;
    font-family: 'Montserrat';
    position: fixed;
    z-index: 100;
    width: 100%;
  }
  
  nav{
    display: flex;
    
  }
  
  nav > button{
    margin-right: 35px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
  }
   nav button:hover{
    color: rgb(238, 214, 0);
    transition: 0.7s;
   }