#btnContato{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContato{
    display: flex;
    align-items: center;
    gap: 5px;
    background:  none;
    text-decoration: none;
    border: none;
    font-size: medium;
    font-family: 'Ubuntu';
    cursor: pointer;
    padding: 5px;
    transition: 1s;
    border-radius: 5px;
}

.btnContato:hover{
    background-color: #7eb0d8;
    padding: 5px;
    border-radius: 5px;
    color: rgb(238, 214, 0);
    transition: 1s;
    border-radius: 5px;
}