#sobremim{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100wh;
    /* margin-top: 70px; */
    animation: mymoveSobre 1s;
    padding-top: 70px;
}

@keyframes mymoveSobre {
    0%   {top: -100px;opacity: 0;}
    100% {top: 0px; opacity: 1;}
  }

#sobremim img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
}

.txtSobreMim h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(43, 74, 99);
}

.txtSobreMim{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

span{
    font-weight: 600;
    color: rgb(78, 5, 5);
}